*{
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px 30px;
    font-size: 17px;
    padding: 8px;
    font-weight: 600;
    /* border: 1px solid black;
    border-radius: 12px;
    box-shadow: 0 10px 20px  rgba(38, 37, 37, 0.5),0 6px 6px rgba(11, 11, 11, 0.5),0 0 100px -10px var(--clr-dark); */
    
}
.dis{
    border: 1px solid black;
    padding: 2%;
    border-radius: 12px;
}
.hi{
    display: flex;
    justify-content: center;
}


/* .container{
    background-color: #f2f2f2;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 5px 10px 15px 20px;
} */

p{
    font-size: 13px;
    text-align: right;
    margin-right: 15px;
}

div{
    margin: 10px;
}

.main-heading{
    text-align: center;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="password"],
select,textarea{
    width: 20%;
    padding: 10px;
    margin: 10px 0px;
    border: 1px solid black;
    border-radius: 4px;

}


input[type="submit"]{
    border: none;
}

/* input[type="submit"]:hover{
    background-color: rgb(7, 231, 7);
} */

fieldset{
    background-color: white;
    border: 1px solid #cccccc;
    margin: 10px;
    font-size: 17px;
}

.Gender{
    font-size: 15px;
    font-weight: 500;
}

#visa{
    width: 65px;
}

#rupay{
    width: 95px;
    height: 56px;
}

#mastercard{
    width: 65px;
}
.details{
    line-height:3.9rem;
    /* display: flex; */
    
    
    
    
    
}